.container {
    border: .75px solid #fff;
    color: #fff;
    padding: 20px 32px;
    margin: 10px 5px;
    width: 70%;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 15.5%;
}

.image{
    border-radius: 50%;
}
.container4 {
    width: 100%;
    

}